#singleMapTargetCanvas {
    width: 400px;
    height: 400px;
}

.friendList {
    list-style-type: none;
    padding-left: 0;
}

.profile-picture {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 20px;
    margin-top: 7px;
}