<template name="gameList">
    <h1>Inkommande spel</h1>
      {{#each incomingGame}}
        <div class="game-info bg-info">
            <button class="btn btn-success accept-invite"><i class="glyphicon glyphicon-ok"></i></button>
          {{getNameUsingFbId sourceId}}
            <button class="btn btn-danger deny-invite pull-right"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
      {{/each}}
    <h1>Pågående spel</h1>
        {{#each ongoingGame}}
            <div>
                <button class="btn btn-block play-turn {{#if myTurn turn sourceId}}btn-success{{else}}btn-danger{{/if}}">
                    {{getOpponentName sourceId targetId}}
                </button>
            </div>
        {{/each}}
  <h1>Avslutade spel</h1>
      {{#each finishedGame}}
          {{#with whoWon}}
              <div class="game-info {{className}}">
                {{> UI.dynamic template=type}}
              </div>
          {{/with}}
      {{/each}}
</template>

<template name="youWon">
    Du vann mot {{getNameUsingFbId opponentId}} med {{ourScore}} poäng mot {{opponentScore}} poäng
</template>

<template name="youLost">
    Du förlorade mot {{getNameUsingFbId opponentId}} med {{ourScore}} poäng mot {{opponentScore}} poäng
</template>

<template name="youTied">
    Du spelade lika mot {{getNameUsingFbId opponentId}} med {{ourScore}} poäng
</template>

